body{
  background-color: rgb(236, 221, 236);
}
div#outer{
  height: 500px;
  width:88%;
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 50px;
  padding: 5px;
  overflow: hidden;

  background-image: linear-gradient(to right , rgb(202, 155, 199), rgba(255, 255, 255,1));
  border: 1px solid rgba(240, 206, 238, 0.5);
  border-radius: 10px;
  display: block;
  box-shadow:  0px 0px 15px 20px rgba(158, 120, 150, 0.5);
  -moz-box-shadow: 0 0 15px  20px  rgba(158, 129, 156, 0.5);
  -webkit-box-shadow: 0 0 15px 20px rgba(156, 109, 153, 0.5);
  -o-box-shadow: 0 0 15px 15px rgba(156, 109, 153, 0.5);
}

.frist-row {
display: flex;
justify-content: space-between;
padding: 20px;
align-items: center;
}
#second-row{
display: flex;
justify-content: space-between;
align-content: center;
align-items: center;
padding:20px;
}
#sec-frist{
display: flex;
flex-direction: column;
}
.try{
  display: flex;
  align-items: center;
}
.vertical{
border-left: 1px solid black;
writing-mode: vertical-rl;
text-orientation: upright;
}
#middle{
display: flex;
align-items: center;
padding-right: 10px;
}

#icon{
display: inline-block;
}

.fa {
  padding: 20px;
  font-size: 8px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: black;
}

.fa-twitter {
color: black;
}
#text{
  text-align:center;
  font-size: 40px;
}
#img1{
width: 200px;
height: 200px;
border-radius: 50%;
}
